<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas | Listado</title>
</head>

<body>
    <h1>Listado de personas</h1>
    <ul>
        <li th:each="persona:${personas}">
            <span th:text="${persona.nombre}"></span>
            <span th:text="${persona.apellidos}"></span>
        </li>
    </ul>

    <form th:action="@{/logout}" method="POST">
        <button type="submit">Logout</button>
    </form>

</body>
</html>